@{
    ViewData["Title"] = "Sobre Nosso Grupo";
}

<h1>@ViewData["Title"]</h1>

<p>Conheça mais sobre o nosso grupo e seus integrantes:</p>

<div class="table-responsive">
    <table class="table table-primary table-borderless table-st">
        <thead class="table-secondary">
            <tr>
                <th>Nome</th>
                <th>Período</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mateus Nascimento da Silva Emerenciano</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Danilo Arrabal do Carmo</td>
                <td>6</td>
            </tr>
            <tr>
                <td>Lucas Matos de Mello</td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
</div>

