@{
    ViewData["Title"] = "Página Inicial - Sistema de Inventário";
}

<div class="container">
    <div class="text-center mt-5">
        <h1 class="display-4">Bem-vindo ao Sistema de Inventário</h1>
        <p class="lead">Gerencie suas categorias e produtos de forma eficiente.</p>
    </div>

    <section class="my-5">
        <div class="row">
            <div class="col-md-6 py-5">
                <h2 class="my-2">O que oferecemos</h2>
                <p class="my-2">
                    Nosso sistema de inventário permite que você organize suas categorias e produtos de maneira fácil e eficaz.
                    Mantenha o controle do seu estoque, adicione novos produtos e gerencie suas categorias com simplicidade.
                </p>
            </div>
            <div class="col-md-6">
                <img src="https://www.in4.com.br/wp-content/uploads/2023/08/vetor-inspecao-produto-inventario-logistica.02.jpg" alt="Imagem 1" class="img-fluid">
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="row">
            <div class="col-md-6">
                <img src="https://img.freepik.com/vetores-gratis/tecnico-de-informatica-com-chave-consertando-a-tela-do-computador-com-engrenagens-servico-de-informatica-centro-de-reparo-de-laptop-conceito-de-servico-de-configuracao-de-notebook_335657-2267.jpg?size=626&ext=jpg&ga=GA1.1.168486538.1701285327" alt="Imagem 2" class="img-fluid">
            </div>
            <div class="col-md-6 py-5">
                <h2 class="my-2">Recursos Destacados</h2>
                <ul class="my-2">
                    <li>Organize seus produtos por categorias</li>
                    <li>Acompanhe a quantidade disponível de cada produto</li>
                    <li>Defina preços e detalhes para cada item</li>
                </ul>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="row">
            <div class="col-md-6 py-5">
                <h2 class="my-2">Pronto para começar?</h2>
                <p class="my-2">
                    Registre-se agora para começar a utilizar nosso sistema de inventário e simplificar a gestão do seu estoque.
                </p>
                <a class="btn btn-primary my-2" href="#">Registre-se Agora</a>
            </div>
            <div class="col-md-6">
                <img src="https://img.freepik.com/vetores-gratis/ilustracao-do-conceito-de-login_114360-739.jpg?size=626&ext=jpg" alt="Imagem 3" class="img-fluid">
            </div>
        </div>
    </section>
</div>
