@model AV2Rafael.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir Categoria</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCriacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCategoria" />
        <input type="submit" value="Excluir" class="btn btn-danger my-2" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>